/*  your css code here. If applicable */
#grid{
	display:grid;
	color:white;
	width:100vw;
	grid-template-columns:auto auto auto auto;
	grid-gap:4px;
}

#div1{
	grid-column:1 / span 4;
}
#div2{
	grid-row:2 / span 4;
}
#div4{
	grid-column:3/span 2;
}
#div5{
	grid-column:2/span 2;
}
#div10{
	grid-column:2/span 3;
}
#grid div{
	background-color:green;
}