/*  your css code here. If applicable */
#grid{
	display:grid;
	color:white;
	width:100vw;
	grid-template-columns:auto auto auto auto;
	grid-template-rows:242.5px 242.5px 242.5px 242.5px;
	grid-gap:4px;
}

#div1{
	grid-column:span 4 / auto;
}
#div2{
	grid-row:span 4/ auto;
}
#div4{
	grid-column:span 2 /auto;
}
#div5{
	grid-column:span 2/ auto;
}
#div10{
	grid-column:span 3 /auto;
}
#grid div{
	background-color:green;
}